<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ScheduledUpdates</key>
    <dict>
      <key>runFrequency</key>
      <dict>
        <key>runType</key>
        <string>specifyFrequency</string>
        <key>frequencyOption</key>
        <string>oneWeek</string>
        <key>frequencyElapsedMode</key>
        <string>singlePromptMode</string>
      </dict>
      <key>runLimitations</key>
      <dict>
        <key>monday</key>
        <true/>
        <key>mondayStartTime</key>
        <string>00:00</string>
        <key>mondayEndTime</key>
        <string>23:59</string>
        <key>tuesday</key>
        <true/>
        <key>tuesdayStartTime</key>
        <string>00:00</string>
        <key>tuesdayEndTime</key>
        <string>23:59</string>
        <key>wednesday</key>
        <true/>
        <key>wednesdayStartTime</key>
        <string>00:00</string>
        <key>wednesdayEndTime</key>
        <string>23:59</string>
        <key>thursday</key>
        <true/>
        <key>thursdayStartTime</key>
        <string>00:00</string>
        <key>thursdayEndTime</key>
        <string>23:59</string>
        <key>friday</key>
        <true/>
        <key>fridayStartTime</key>
        <string>00:00</string>
        <key>fridayEndTime</key>
        <string>23:59</string>
        <key>saturday</key>
        <true/>
        <key>saturdayStartTime</key>
        <string>00:00</string>
        <key>saturdayEndTime</key>
        <string>23:59</string>
        <key>sunday</key>
        <true/>
        <key>sundayStartTime</key>
        <string>00:00</string>
        <key>sundayEndTime</key>
        <string>23:59</string>
      </dict>
      <key>deferralConfiguration</key>
      <dict>
        <key>deferralOption</key>
        <string>specifyDeferralLimit</string>
        <key>specifyLimit</key>
        <integer>2</integer>
      </dict>
      <key>gracePeriodMinutes</key>
      <integer>30</integer>
      <key>customIcon</key>
      <string>/usr/local/images/CustomIcon.png</string>
      <key>initialPromptOverlayIcon</key>
      <string>/usr/local/images/CustomIcon.png</string>
      <key>customInitialPromptSize</key>
      <dict>
        <key>promptHeight</key>
        <integer>330</integer>
        <key>promptWidth</key>
        <integer>640</integer>
      </dict>
      <key>customGracePromptSize</key>
      <dict>
        <key>promptHeight</key>
        <integer>330</integer>
        <key>promptWidth</key>
        <integer>640</integer>
      </dict>
      <key>customSelfServicePromptSize</key>
      <dict>
        <key>promptHeight</key>
        <integer>330</integer>
        <key>promptWidth</key>
        <integer>640</integer>
      </dict>
      <key>singleAppTitle</key>
      <string>Important Update Available</string>
      <key>multipleAppsTitle</key>
      <string>Important Updates Available</string>
      <key>singleInitialQuitPromptMessage</key>
      <string>appName must quit to install a pending update. Please save your work and click update</string>
      <key>multipleInitialQuitPromptMessage</key>
      <string>The Apps listed below must quit to install a pending update. Please save your work and click update</string>
      <key>singleSelfServiceQuitMessage</key>
      <string>appName must quit to install a pending update. Please save your work and click update</string>
      <key>multipleSelfServiceQuitMessage</key>
      <string>The Apps listed below must quit to install a pending update. Please save your work and click update</string>
      <key>singleAppGracePeriodQuitMessage</key>
      <string>appName must quit to install a pending update. You have no remaining deferrals. Please save your work and click update</string>
      <key>multipleAppGracePeriodQuitMessage</key>
      <string>The Apps listed below must quit to install a pending update. You have no deferrals remaining. Please save your work and click update</string>
      <key>singleInitialLogOutPromptMessage</key>
      <string>appName requires a Log Out to install a pending update. Please save your work and click update</string>
      <key>multipleInitialLogOutPromptMessage</key>
      <string>The Apps listed below require a Log Out to install a pending update. Please save your work and click update</string>
      <key>singleSelfServiceLogOutMessage</key>
      <string>appName requires a Log Out to install a pending update. Please save your work and click update</string>
      <key>multipleSelfServiceLogOutMessage</key>
      <string>The Apps listed below require a Log Out to install a pending update. Please save your work and click update</string>
      <key>singleAppGracePeriodLogOutMessage</key>
      <string>appName requires a Log Out to install a pending update. You have no deferrals remaining. Please save your work and click update</string>
      <key>multipleAppGracePeriodLogOutMessage</key>
      <string>The Apps listed below require a Log Out to install pending updates. You have no deferrals remaining. Please save your work and click update</string>
      <key>customDeferButton</key>
      <string>Snooze</string>
      <key>customSkipButton</key>
      <string>Later</string>
      <key>customUpdateButton</key>
      <string>Update Now</string>
      <key>customLogOutButton</key>
      <string>Log Out Now</string>
      <key>appListType</key>
      <string>vertical</string>
      <key>refreshInterval</key>
      <integer>30</integer>
      <key>acceptableAppBundleIDs</key>
      <array>
        <string>us.zoom.xos</string>
        <string>com.apple.iWork.Keynote</string>
      </array>
      <key>acceptableCameraUsage</key>
      <true/>
      <key>acceptableScreenSharing</key>
      <true/>
      <key>performLogoutUpdates</key>
      <true/>
      <key>updateProgressPosition</key>
      <string>topright</string>
      <key>updateProgressPrompt</key>
      <string>noFocusPrompt</string>
      <key>updateProgressOverlayIcon</key>
      <string>/usr/local/images/CustomIcon.png</string>
      <key>displayCompletePrompt</key>
      <true/>
    </dict>
    <key>ForcedUpdates</key>
    <dict>
      <key>runLimitations</key>
      <dict>
        <key>monday</key>
        <true/>
        <key>mondayStartTime</key>
        <string>00:00</string>
        <key>mondayEndTime</key>
        <string>23:59</string>
        <key>tuesday</key>
        <true/>
        <key>tuesdayStartTime</key>
        <string>00:00</string>
        <key>tuesdayEndTime</key>
        <string>23:59</string>
        <key>wednesday</key>
        <true/>
        <key>wednesdayStartTime</key>
        <string>00:00</string>
        <key>wednesdayEndTime</key>
        <string>23:59</string>
        <key>thursday</key>
        <true/>
        <key>thursdayStartTime</key>
        <string>00:00</string>
        <key>thursdayEndTime</key>
        <string>23:59</string>
        <key>friday</key>
        <true/>
        <key>fridayStartTime</key>
        <string>00:00</string>
        <key>fridayEndTime</key>
        <string>23:59</string>
        <key>saturday</key>
        <true/>
        <key>saturdayStartTime</key>
        <string>00:00</string>
        <key>saturdayEndTime</key>
        <string>23:59</string>
        <key>sunday</key>
        <true/>
        <key>sundayStartTime</key>
        <string>00:00</string>
        <key>sundayEndTime</key>
        <string>23:59</string>
      </dict>
      <key>customIcon</key>
      <string>/usr/local/images/CustomIcon.png</string>
      <key>initialPromptOverlayIcon</key>
      <string>/usr/local/images/CustomIcon.png</string>
      <key>customInitialPromptSize</key>
      <dict>
        <key>promptHeight</key>
        <integer>330</integer>
        <key>promptWidth</key>
        <integer>640</integer>
      </dict>
      <key>customGracePromptSize</key>
      <dict>
        <key>promptHeight</key>
        <integer>330</integer>
        <key>promptWidth</key>
        <integer>640</integer>
      </dict>
      <key>customTitle</key>
      <string>appName Update Required</string>
      <key>initialQuitPromptMessage</key>
      <string>appName must quit to install a pending update. Please save your work and click update</string>
      <key>initialLogOutPromptMessage</key>
      <string>appName requires a Log Out to install a pending update. Please save your work and click update</string>
      <key>gracePeriodQuitPromptMessage</key>
      <string>appName must quit to install a pending update. You have no deferrals remaining. Please save your work and click update</string>
      <key>gracePeriodLogOutPromptMessage</key>
      <string>appName requires a Log Out to install a pending update. You have no deferrals remaining. Please save your work and click update</string>
      <key>customDeferButton</key>
      <string>Snooze</string>
      <key>customUpdateButton</key>
      <string>Update Now</string>
      <key>customLogOutButton</key>
      <string>Log Out Now</string>
      <key>refreshInterval</key>
      <integer>30</integer>
      <key>acceptableAppBundleIDs</key>
      <array>
        <string>us.zoom.xos</string>
        <string>com.apple.iWork.Keynote</string>
      </array>
      <key>acceptableCameraUsage</key>
      <true/>
      <key>acceptableScreenSharing</key>
      <true/>
      <key>performLogoutUpdates</key>
      <true/>
      <key>updateProgressPosition</key>
      <string>topright</string>
      <key>updateProgressPrompt</key>
      <string>noFocusPrompt</string>
      <key>updateProgressOverlayIcon</key>
      <string>/usr/local/images/CustomIcon.png</string>
      <key>displayCompletePrompt</key>
      <true/>
    </dict>
  </dict>
</plist>